.section {
  padding: 30px;
  margin: 10px;
  min-width: 300px;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=162, Color=#000000)'; /*IE 8*/
  -moz-box-shadow: 3px 1px 9px 2px rgba(0, 0, 0, 0.4); /*FF 3.5+*/
  -webkit-box-shadow: 3px 1px 9px 2px rgba(0, 0, 0, 0.4); /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 3px 1px 9px 2px rgba(0, 0, 0, 0.4); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=135, Color=#000000); /*IE 5.5-7*/
}

.sectionTitle {
  margin: auto;
  padding-bottom: 10px;
}
